# TP 2 - Listes, tupples, conditions #

## 1 - Listes ##

In [5]:
tab1 = [4,5,6]
lis1 = tab1
print(lis1)

[4, 5, 6]

---

In [6]:
tab2 = ["a","b","c"]
lis2 = tab2
print(lis2)

['a', 'b', 'c']

---

In [12]:
tab2 = ["a","b","c"]
lis2 = tab2
print(lis2[1])
tab2[1] = "d"
print(lis2[1])

b
d

---

In [13]:
print(lis2[:2])
print(lis2[-2:])

['a', 'd']
['d', 'c']

## 2 - Tuples ##

In [14]:
lis3 = ("a","b","c")
print(lis3)

('a', 'b', 'c')

---

In [18]:
lis3[1] = "d"
print(lis3)

TypeError: 'tuple' object does not support item assignment

## 3 - Chaînes de caractères ##

In [21]:
lis4 = "tatiana"
print(lis4[1])
lis4[1] = "i"
print(lis4)

a

TypeError: 'str' object does not support item assignment

## 4 - Opération sur les listes ##

In [25]:
lis5 = [1,2,3]
lis6 = [4,5,6]

print(lis5+lis6)
print(lis5*3)
print(lis5*lis6)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

TypeError: can't multiply sequence by non-int of type 'list'

In [26]:
lis7 = "dormir"
lis8 = "lit"

print(lis7+lis8)
print(lis7*3)
print(lis7*lis8)

dormirlit
dormirdormirdormir

TypeError: can't multiply sequence by non-int of type 'str'

## 5 - Conditions ##

In [27]:
test1 = False
print(test1)

False

---

In [33]:
test2 = 2
print("2 est égal à 3 :", test2 == 3)
print("2 est supérieur à 3 :", test2 > 3)

2 est égal à 3 : False
2 est supérieur à 3 : False

---

_Tableau de vérité pour "and"_

In [34]:
True and True

True

In [35]:
True and False

False

In [36]:
False and True

False

In [37]:
False and False

False

_Tableau de vérité pour "or"_

In [38]:
True or True

True

In [39]:
True or False

True

In [40]:
False or True

True

In [41]:
False or False

False

In [42]:
not True and not False

False

---

In [43]:
test3 = 13
if test3 < 3:
    print("Variable inférieure à 3.")
else:
    print("Variable supérieure ou égale à 3.")

Variable supérieure ou égale à 3.

---

In [51]:
test4 = 0
if test4 == 3:
    test4 = test4+1
elif test4 == 4:
    test4 = test4+2
elif test4 == 6:
    test4 = test4+3
print(test4)

0

In [52]:
test4 = 3
if test4 == 3:
    test4 = test4+1
elif test4 == 4:
    test4 = test4+2
elif test4 == 6:
    test4 = test4+3
print(test4)

4

In [53]:
test4 = 3
if test4 == 3:
    test4 = test4+1
if test4 == 4:
    test4 = test4+2
if test4 == 6:
    test4 = test4+3
print(test4)

9

In [54]:
test4 = 3
var4 = test4
if test4 == 3:
    var4 = test4+1
if test4 == 4:
    var4 = test4+2
if test4 == 6:
    var4 = test4+3
print(var4)

4

---

In [56]:
gen = 1
charge = -1/3

if gen == 1:
    if charge == 2/3:
        print("u")
    elif charge == -1/3:
        print("d")
    else:
        print("Ce quark n'existe pas.")
elif gen == 2:
    if charge == 2/3:
        print("c")
    elif charge == -1/3:
        print("s")
    else:
        print("Ce quark n'existe pas.")
elif gen == 3:
    if charge == 2/3:
        print("t")
    elif charge == -1/3:
        print("b")
    else:
        print("Ce quark n'existe pas.")
else:
    print("Cette génération n'existe pas.")

d

---

In [3]:
haut = False
bas = True
gauche = False
droite = False
print((not haut) and bas and (not gauche) and (not droite))
print((not haut) and (not bas) and (not gauche) and (not droite))
print(haut or bas or gauche or droite)

True
False
True

In [4]:
haut = False
bas = False
gauche = False
droite = False
print((not haut) and bas and (not gauche) and (not droite))
print((not haut) and (not bas) and (not gauche) and (not droite))
print(haut or bas or gauche or droite)

False
True
False

---

In [9]:
haut = False
bas = True
gauche = False
droite = False
if ((not haut) and bas and (not gauche) and (not droite)):
    print((not haut) and bas and (not gauche) and (not droite))
else:
    print(not(not haut) and bas and (not gauche) and (not droite))

True

In [10]:
haut = False
bas = False
gauche = False
droite = False
if ((not haut) and bas and (not gauche) and (not droite)):
    print((not haut) and bas and (not gauche) and (not droite))
else:
    print(not(not haut) and bas and (not gauche) and (not droite))

False

In [11]:
haut = False
bas = True
gauche = False
droite = False
comp1 = (not haut) and bas and (not gauche) and (not droite)
if comp1 == True:
    print(comp1)
else:
    print(not comp1)

True

In [14]:
haut = False
bas = False
gauche = False
droite = False
comp1 = (not haut) and bas and (not gauche) and (not droite)
if comp1:
    print(comp1)
else:
    print(not(comp1))

True